<div>
  <mat-sidenav-container class="kl-sidenav-container">
    <mat-sidenav #sidenav [opened]="false" [mode]="'over'" [fixedInViewport]="isLessThenLargeDevice">
      <div class="rounded-md border overflow-hidden w-72">
        <div class="user text-center bg-accent py-10 px-5">
          <img class="ml-auto mr-auto" src="assets/images/avatar.png" alt="abraham lincoln" />
          <h4 class="text-base text-white mt-3">{{user?.firstName}} {{user?.lastName}}</h4>
        </div>
        <mat-nav-list class="_sidenav">
          <a
            mat-list-item
            routerLink="/dashboard"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="bg-gray-200"
            class="font-semibold text-gray-500 hover:text-primary"
            ><mat-icon class="mr-2">dashboard</mat-icon> Dashboard</a
          >
          <a
            mat-list-item
            routerLink="/dashboard/profile"
            routerLinkActive="bg-gray-200"
            class="font-semibold text-gray-500 hover:text-primary"
            ><mat-icon class="mr-2">account_circle</mat-icon> View my profile</a
          >
          <a
            mat-list-item
            routerLink="/dashboard/shop"
            routerLinkActive="bg-gray-200"
            class="font-semibold text-gray-500 hover:text-primary"
            ><mat-icon class="mr-2">shopping_basket</mat-icon> Shop</a
          >
          <a
            mat-list-item
            routerLink="/dashboard/orders"
            routerLinkActive="bg-gray-200"
            class="font-semibold text-gray-500 hover:text-primary"
            ><mat-icon class="mr-2">article</mat-icon> Orders</a
          >
          <a (click)="onLogout()" mat-list-item class="font-semibold text-gray-500 hover:text-primary"><mat-icon class="mr-2">logout</mat-icon> Logout</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <header class="ll_header bg-gray-50 shadow">
        <div class="container">
          <div class="flex items-center">
            <div class="flex items-center">
              <a class="logo" [routerLink]="['']"><img src="assets/images/logo/logo.png" alt="Logo" /></a>
            </div>
            <button
              *ngIf="isLessThenLargeDevice"
              (click)="sidenav.toggle()"
              class="_sidenav__toggler ml-3 ms-sm-3"
              mat-icon-button
            >
              <mat-icon>menu</mat-icon>
            </button>
            <div class="items-center flex ml-auto">
              <button mat-icon-button (click)="op.toggle($event)">
                <i class="pi pi-shopping-cart p-mr-4 p-text-secondary" pBadge style="font-size: 2rem" [value]="(cart$ | async)?.items?.length" severity="danger"></i>
              </button>
              <p-overlayPanel #op [style]="{width: '600px'}">
                <ng-template pTemplate *ngIf="cart$ | async as cartObj">
                  <div *ngIf="cartObj?.items.length === 0" class="text-center">
                    <h5>
                      Cart is empty
                    </h5>
                  </div>
                  <div *ngIf="cartObj?.items.length > 0" >
                    <p-table [value]="cartObj.items" responsiveLayout="scroll">
                      <ng-template pTemplate="header">
                          <tr>
                            <th>Type</th>
                            <th class="w-4/12 font-medium">Product</th>
                            <th>Price</th>
                            <th class="text-center">Actions</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-rowData let-product>
                          <tr>
                            <td>{{product?.productType}}</td>
                            <td class="w-6/12">
                              <div class="flex">
                                <div class="max-h-16 w-16 flex-none mr-3 border" *ngIf="product?.image">
                                  <img [src]="product?.image" alt="img">
                                </div>
                                <h6 class="flex-auto">{{ product?.productName }}</h6>
                              </div>
                            </td>
                            <td>{{(product && product.price)?'R '+product.price:'R '+0}}</td>
                            <td class="text-center">
                              <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"
                              (click)="removeProductFromCart(product)"></button>
                            </td>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                          <tr>
                              <td colspan="2" class="p-text-right bold">
                                Totals:
                              </td>
                              <td class="bold">{{calculateCartTotal(cartObj)}}</td>
                              <td>&nbsp;</td>
                          </tr>
                      </ng-template>
                    </p-table>
                    <div class="mt-4">
                      <button pButton pRipple type="button" label="Proceed to Checkout" class="p-button-raised p-button-success w-full" 
                      icon="pi pi-arrow-right" iconPos="right"></button>
                    </div>
                  </div>
                </ng-template>
            </p-overlayPanel>
            </div>
          </div>
        </div>
      </header>
      
      <div>
        <div class="container">
          <div class="grid grid-cols-12 gap-8">
            <div class="col-span-3 hidden xl:block">
              <div class="py-5 min-h-screen">
                <div class="rounded-md border overflow-hidden h-full">
                  <div class="user text-center bg-accent py-10 px-5">
                    <img class="ml-auto mr-auto" src="assets/images/avatar.png" alt="abraham lincoln" />
                    <h4 class="text-white mt-3">{{user?.firstName}} {{user?.lastName}}</h4>
                  </div>
                  <mat-nav-list class="_sidenav">
                    <a
                      mat-list-item
                      routerLink="/dashboard"
                      [routerLinkActiveOptions]="{ exact: true }"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">dashboard</mat-icon> Dashboard</a
                    >
                    <a
                      mat-list-item
                      routerLink="/dashboard/profile"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">account_circle</mat-icon> View my profile</a
                    >
                    <a
                      mat-list-item
                      routerLink="/dashboard/shop"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">shopping_basket</mat-icon> Shop</a
                    >
                    <a
                      mat-list-item
                      routerLink="/dashboard/orders"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">article</mat-icon> Orders</a
                    >
                    <a (click)="onLogout()" mat-list-item class="font-semibold text-gray-500 hover:text-primary"><mat-icon class="mr-2">logout</mat-icon> Logout</a>
                  </mat-nav-list>
                </div>
              </div>
            </div>
            <div class="col-span-12 xl:col-span-9 py-10">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>