<div>
	<div class="table-inside">
	  <p-table #orderDt [value]="orders" [loading]="loadingOrders"
	  [globalFilterFields]="['name','type']" dataKey="id" rowExpandMode="single">
		<ng-template pTemplate="caption">
		  <div class="table-header flex flex-row justify-between">
			  <div>My Orders</div>
			  <div>
				<span class="p-input-icon-left">
				  <i class="pi pi-search"></i>
				  <input pInputText type="text" class="rounded" (input)="orderDt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
			  </span>
			  </div>
		  </div>
	  </ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th style="width: 4rem"></th>
				<th>Id</th>
				<th>Ordered Date</th>
				<th>No. of Products</th>
				<th pSortableColumn="total">Total<p-sortIcon field="total"></p-sortIcon></th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-order let-expanded="expanded">
			<tr>
				<td>
					<button type="button" pButton pRipple [pRowToggler]="order" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
				</td>
				<td>
				  {{'Order#'+order.id}}
				</td>
				<td>
					{{(order && order.orderDate)?(order.orderDate|date):'No Date'}}
				</td>
				<td>
					<div class="flex justify-center">{{(order && order.orderItems)?(order.orderItems.length):0}}</div>
				</td>
				<td>ZAR {{order.total?order.total:0}}</td>
				<td [class]="'type-badge-' + order.status">
					<span >{{getStatusName(order.status)}}</span>
				</td>
				<td>

				  <p-splitButton icon="pi pi-cog" (onDropdownClick)="initBtnOptions(order)" [model]="btnOptions" styleClass="p-button-secondary" appendTo="body"></p-splitButton>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="rowexpansion" let-order>
			<tr>
				<td colspan="7">
					<div class="p-p-3">
						<p-table [value]="order.orderItems">
							<ng-template pTemplate="header">
								<tr>
									<th>Id</th>
									<th class="w-5/12 font-medium">Product</th>
									<th>Type</th>
									<th>Price</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-product>
								<tr>
									<td>{{product?.itemOrdered.productItemId}}</td>
									<td class="w-4/12">
										<div class="flex">
											<div class="max-h-16 w-16 flex-none mr-3 border" *ngIf="product?.itemOrdered.image">
											  <img [src]="product?.itemOrdered.image" alt="img">
											</div>
											<h6 class="flex-auto">{{ product?.itemOrdered?.productName }}</h6>
										  </div>
									</td>
									<td>{{product?.itemOrdered.productType}}</td>
									<td>ZAR {{(product.price)?product.price:0}}</td>
								</tr>
							</ng-template>
							<ng-template pTemplate="emptymessage">
								<tr>
									<td colspan="6">There are no order for this product yet.</td>
								</tr>
							</ng-template>
						</p-table>
					</div>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
		  <tr>
			  <td [attr.colspan]="7">
				  No orders found
			  </td>
		  </tr>
	  </ng-template>
	  </p-table>
	</div>
  </div>

<p-dialog header="Order is being cancelled" 
[visible]="cancellingOrder" [style]="{width: '40vw'}"
modal="true" appendTo="body" [closable]="false">
  <div class="flex flex-col items-center">
    <p-progressSpinner></p-progressSpinner>
    <div>Please wait...</div>
  </div>
</p-dialog>
