::ng-deep {
  .mat-card-header-text {
    margin: 0 !important;
  }
}
.view__btn,
.action_icon__btn {
  $btnSize: 30px;
  $iconSize: 22px;
  line-height: $btnSize;
  width: $btnSize;
  height: $btnSize;
  .mat-icon {
    font-size: $iconSize;
    line-height: $iconSize;
    width: $iconSize;
    height: $iconSize;
  }
}

.type-badge{
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.Course{
  background-color: #d32f2f;
  color: #ffffff;
}

.Mock-Exam{
  background-color: #388e3c;
  color: #ffffff;
}

.Bundle{
  background-color: #379dc6;
  color: #ffffff;
}
