<div>
  <div class="table-inside">
    <p-table #dt [value]="products"
    [globalFilterFields]="['name','type']">
      <ng-template pTemplate="caption">
        <div class="table-header flex flex-row justify-between">
            <div>Shop</div>
            <div>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="rounded" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
            </span>
            </div>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th class="w-4/12 font-medium">Product</th>
              <th class="w-2/12">Type</th>
              <th>Valid for</th>
              <th>Rating</th>
              <th pSortableColumn="price">Price<p-sortIcon field="price"></p-sortIcon></th>
              <th>Actions</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
          <tr>
              <td class="w-4/12">
                <div class="flex">
                  <div class="max-h-16 w-16 flex-none mr-3 border" *ngIf="item?.image">
                    <img [src]="item?.image" alt="img">
                  </div>
                  <h6 class="flex-auto">{{ item?.name }}</h6>
                </div>
              </td>
              <td class="w-2/12">
                <span [class]="'type-badge ' + item.type">{{item.type}}</span>
              </td>
              <td>{{item.validityPeriod}} {{(item.validityPeriod>1)?"Months":"Month"}}</td>
              <td>
                <div class="flex">
                  <mat-icon class="mr-1 text-lg leading-4 h-4 w-4 text-yellow-500">star_rate</mat-icon>
                  {{(item.rating)?item.rating:'N/A'}}
                </div>
              </td>
              <td>ZAR {{item.price}}</td>
              <td>
                <button pButton pRipple type="button" 
                title="Add To Cart"
                icon="pi pi-shopping-cart" 
                class="p-button-rounded p-button-secondary mr-2"
                (click)="addProductToCart()"></button>
                <button pButton pRipple type="button" 
                title="Add To Favourites"
                icon="pi pi-heart" 
                class="p-button-rounded p-button-danger"></button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td [attr.colspan]="6">
                No products found
            </td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="Adding product to cart" [(visible)]="addingToCart" [style]="{width: '40vw'}"
modal="true" appendTo="body" [closable]="false">
  <div class="flex flex-col items-center">
    <p-progressSpinner></p-progressSpinner>
    <div>Please wait...</div>
  </div>
</p-dialog>
